footer {
  div {
    &.footer_container {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 60px;
      background-color: $semi-latte;
      padding: 60px 90px 30px 90px;
      div {
        &.container:first-of-type {
          div.card {
          }
        }
        &.container:nth-child(2) {
          position: relative;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          div.subcat {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 7.5px;
            max-width: calc((100% - 45px) / 4);
            &:first-child {
              p:first-of-type {
                font-size: medium;
              }
              p:nth-child(3) {
                font-size: small;
              }
            }
            &#social {
              a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                row-gap: 5px;
                p {
                }
                img {
                  width: 24px;
                  height: 24px;
                  margin-right: 7.5px;
                }
              }
            }
          }
          &:after {
            content: "";
            position: absolute;
            width: 50%;
            height: 1px;
            left: 50%;
            bottom: -30px;
            transform: translateX(-50%);
            background-color: $latte;
          }
        }
        &.container:nth-child(3) {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          p {
            font-size: small;
          }
        }
      }
    }
  }
}
